<!DOCTYPE html>
<html lang="en">

  <head>
  
    <title>Milan Flask - Example</title>
	<h1>My Test Server</h1>
	
  </head>

  <body>

	<h2 id='testid1'> Testing things out </h2>
	<button onclick="document.getElementById('testid1').innerHTML = 'First Thing Tested'">Click!</button>
  
      <form action = "http://localhost:9000/login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

  </body>
</html>